.TextFormContainer {
  display: flex;
  width: 70%;
  margin: 15px auto;
}

.TextFormContainer .TextForm {
  display:flex;
  width: 100%;;
}

.TextFormContainer .TextForm .WordTextInput {
  border: 2px solid #6272a4;
  border-radius: 0;
  margin-right: 1px;
  padding: 1em;
  width: 80%;
  -webkit-appearance: none;
}

.TextFormContainer .TextForm .Submit {
  border: 2px solid #6272a4;
  border-radius: 0;
  font-weight: bold;
  font-size: .75em;
  color: #6272a4;
  padding: 1em;
  -webkit-appearance: none;
}
