.SearchFormContainer {
  display: flex;
  width: 80%;
  margin: 15px auto;
}

.SearchFormContainer .SearchForm {
  display:flex;
  width: 100%;;
}

.SearchFormContainer .SearchForm .WordTextInput {
  border: 2px solid #6272a4;
  border-radius: 0;
  margin-right: 1px;
  padding: 1em;
  width: 80%;
  -webkit-appearance: none;
}

.SearchFormContainer .SearchForm .Submit {
  border: 2px solid #6272a4;
  border-radius: 0;
  font-weight: bold;
  font-size: 1em;
  color: #6272a4;
  padding: 1em;
  -webkit-appearance: none;
}
